servers:
  web:
    hosts:
      - 102.203.200.24
    cmd: /usr/local/bin/entrypoint.sh

env:
  clear:
    APP_ENV: staging
    APP_DEBUG: false
    APP_URL: https://stt.mohamed.ly

accessories:
  db:
    service: postgres
    image: postgres:17
    host: 102.203.200.24
    port: 5432
    env:
      secret:
        - DB_PASSWORD
        - DB_USERNAME
        - DB_DATABASE
    directories:
      - pg_data:/var/lib/postgresql/data
    cmd: "postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c pg_stat_statements.max=100000 -c compute_query_id=auto"
