name:  Deploy to Staging

on:
  push:
    branches:
      - main

concurrency:
  group: deployment-staging
  cancel-in-progress: false

jobs:
  deploy:
    uses: ./.github/workflows/job-deploy-kamal.yml
    with:
      kamal-destination: staging
    secrets:
      KAMAL_REGISTRY_PASSWORD: ${{ secrets.KAMAL_REGISTRY_PASSWORD }}
      SSH_PRIVATE_KEY: ${{ secrets.STG_SSH_PRIVATE_KEY }}
      APP_KEY: ${{ secrets.STG_APP_KEY }}
      APP_ENV: staging
      DB_HOST: ${{ secrets.STG_DB_HOST }}
      DB_PORT: ${{ secrets.STG_DB_PORT }}
      DB_DATABASE: ${{ secrets.STG_DB_DATABASE }}
      DB_USERNAME: ${{ secrets.STG_DB_USERNAME }}
      DB_PASSWORD: ${{ secrets.STG_DB_PASSWORD }}
